# Hostname to use in helioviewer configuration
API_PORT=8081
API_URL=http://localhost:$API_PORT

CLIENT_PORT=8080
CLIENT_URL=http://localhost:$CLIENT_PORT

COORDINATOR_PORT=8000
COORDINATOR_URL=http://localhost:$COORDINATOR_PORT

ESAJPIP_PORT=8090

# If false, any images loaded in `data/jp2` will be loaded into the database
USE_TEST_DATA=true
