[submodule "helioviewer.org"]
	path = helioviewer.org
	url = https://github.com/Helioviewer-Project/helioviewer.org.git
[submodule "api"]
	path = api
	url = https://github.com/Helioviewer-Project/api.git
