name: helioviewer
services:
  database:
    image: dgarciabriseno/helioviewer-db-dev
    platform: linux/amd64
    build:
      dockerfile: ./compose/dockerfiles/db.Dockerfile
    environment:
      MARIADB_ROOT_PASSWORD: helioviewer
    ports:
      - 3306:3306
    restart: always
    healthcheck:
      test: ["CMD", "bash", "/usr/local/bin/healthcheck.sh", "--connect"]
      interval: 5s
      timeout: 5s
      retries: 3
    volumes:
      - jp2_volume:/tmp/jp2
  redis:
    image: redis
    ports:
      - 6379:6379
    restart: always
  # Supporting python api for the helioviewer api
  coordinator:
    restart: always
    image: dgarciabriseno/hv-coordinator:0.3.3
    ports:
      - ${COORDINATOR_PORT}:80
  api:
    env_file:
      - .env
    image: dgarciabriseno/helioviewer-api-dev
    build:
      dockerfile: ./compose/dockerfiles/api_server.Dockerfile
    ports:
      - ${API_PORT}:80
    depends_on:
      - database
      - redis
      - coordinator
    restart: always
    platform: linux/amd64
    healthcheck:
      # Check every 10 seconds, wait up to 2 minutes
      test: ["CMD", "ls", "/tmp/container_ready"]
      interval: 10s
      timeout: 1s
      retries: 12
    volumes:
      - type: volume
        source: jp2_volume
        target: /tmp/jp2
      - cache:/var/www/helioviewer.org/cache
      - cache:/var/www/api.helioviewer.org/docroot/cache
      - type: bind
        source: ./api
        target: /var/www/api.helioviewer.org
      - api_logs:/var/www/api.helioviewer.org/log
  web:
    env_file:
      - .env
    image: dgarciabriseno/helioviewer-web-dev
    build:
      dockerfile: ./compose/dockerfiles/webserver.Dockerfile
    ports:
      - ${CLIENT_PORT}:80
    depends_on:
      - api
    restart: always
    healthcheck:
      # Check every 10 seconds, wait up to 2 minutes
      test: ["CMD", "curl", "-s", "-X", "GET", "http://localhost"]
      interval: 10s
      timeout: 1s
      retries: 12
    volumes:
      - type: bind
        source: ./helioviewer.org
        target: /var/www/html
      - type: bind
        source: ./api
        target: /var/www/api.helioviewer.org
      - cache:/var/www/html/cache
  movies:
    restart: always
    image: dgarciabriseno/helioviewer-movies-dev
    depends_on:
      redis:
        condition: service_started
      api:
        condition: service_healthy
    build:
      dockerfile: ./compose/dockerfiles/movie_builder.Dockerfile
    platform: linux/amd64
    volumes_from:
      - api
  jpip:
    image: dgarciabriseno/helioviewer-jpip
    build:
      dockerfile: ./compose/dockerfiles/esajpip.Dockerfile
    ports:
      - 8090:8090
    volumes:
      - jp2_volume:/home/esajpip/images

volumes:
  jp2_volume:
  cache:
  api_logs:
