name: helioviewer
x-volumes:
  # Source code for Helioviewer API back end
  api-mount: &api-mount
    type: bind
    source: ${PWD}/api
    target: /var/www/api.helioviewer.org
  # Source code for helioviewer.org front-end web client
  client-mount: &client-mount
    type: bind
    source: ${PWD}/helioviewer.org
    target: /var/www/html
  # Scripts for loading in images
  install-mount: &install-mount
    type: bind
    source: ${PWD}/api/install
    target: /scripts
  # Setup scripts for headless database initialization
  setup-scripts-mount: &setup-scripts-mount
    type: bind
    source: ${PWD}/scripts/database
    target: /setup_scripts
  # Volume for JPEG2000 images
  jp2-mount: &jp2-mount
    type: bind
    source: ${HOST_JPEG2000_PATH}
    target: /tmp/jp2
  db-data: &db-data
    type: volume
    source: db_volume
    target: /var/lib/mysql

volumes:
  # To persist database data
  db_volume:
  # Cache stores various data cached by helioviewer. Tiles, screenshots, movies, etc
  cache:
  # Stores logs generated by the Helioviewer API
  api_logs:

services:
  database:
    image: mariadb
    environment:
      MARIADB_ROOT_PASSWORD: ${DATABASE_ROOT_PASSWORD}
    restart: always
    healthcheck:
      test: ["CMD", "bash", "/usr/local/bin/healthcheck.sh", "--connect"]
      interval: 5s
      timeout: 5s
      retries: 3
    volumes:
      - *jp2-mount
      - *install-mount
      - *db-data
  # Initialize database service with application data and credentials
  database-init:
    image: ghcr.io/helioviewer-project/python
    build:
      dockerfile: docker/python.Dockerfile
    platform: linux/x86_64
    environment:
      MARIADB_ROOT_PASSWORD: ${DATABASE_ROOT_PASSWORD}
      HELIOVIEWER_DB_NAME: ${HELIOVIEWER_DB_NAME}
      HELIOVIEWER_DB_USER: ${HELIOVIEWER_DB_USER}
      HELIOVIEWER_DB_PASS: ${HELIOVIEWER_DB_PASS}
    volumes:
      - *jp2-mount
      - *install-mount
      - *setup-scripts-mount
    entrypoint: /bin/bash
    command:
      - /setup_scripts/initialize_database.sh
    depends_on:
      database:
        condition: service_healthy
  redis:
    image: redis
    restart: always
  # Supporting python api for the helioviewer api
  coordinator:
    restart: always
    image: dgarciabriseno/hv-coordinator:0.3.3
    ports:
      - 127.0.0.1:${COORDINATOR_PORT}:80
  api:
    env_file:
      - .env
    image: dgarciabriseno/helioviewer-api-dev
    build:
      dockerfile: ./compose/dockerfiles/api_server.Dockerfile
    ports:
      - 127.0.0.1:${API_PORT}:80
    depends_on:
      database-init:
        condition: service_completed_successfully
      database:
        condition: service_started
      redis:
        condition: service_started
      coordinator:
        condition: service_started
    restart: always
    platform: linux/amd64
    healthcheck:
      # Check every 10 seconds, wait up to 2 minutes
      test: ["CMD", "ls", "/tmp/container_ready"]
      interval: 10s
      timeout: 1s
      retries: 12
    volumes:
      - *jp2-mount
      - cache:/var/www/helioviewer.org/cache
      - cache:/var/www/api.helioviewer.org/docroot/cache
      - type: bind
        source: ./api
        target: /var/www/api.helioviewer.org
      - api_logs:/var/www/api.helioviewer.org/log
  web:
    env_file:
      - .env
    image: dgarciabriseno/helioviewer-web-dev
    build:
      dockerfile: ./compose/dockerfiles/webserver.Dockerfile
    ports:
      - 127.0.0.1:${CLIENT_PORT}:80
    depends_on:
      database-init:
        condition: service_completed_successfully
      api:
        condition: service_started
    restart: always
    healthcheck:
      # Check every 10 seconds, wait up to 2 minutes
      test: ["CMD", "curl", "-s", "-X", "GET", "http://localhost"]
      interval: 10s
      timeout: 1s
      retries: 12
    volumes:
      - type: bind
        source: ./helioviewer.org
        target: /var/www/html
      - type: bind
        source: ./api
        target: /var/www/api.helioviewer.org
      - cache:/var/www/html/cache
  movies:
    restart: always
    image: dgarciabriseno/helioviewer-movies-dev
    depends_on:
      database-init:
        condition: service_completed_successfully
      redis:
        condition: service_started
      api:
        condition: service_healthy
    build:
      dockerfile: ./compose/dockerfiles/movie_builder.Dockerfile
    platform: linux/amd64
    volumes_from:
      - api

