name: Container Build

on:
  pull_request:
    branches: [ "main" ]

jobs:
  build-dev:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'
      - name: Setup Environment
        run: cp .env.example .env

      - name: Build containers
        run: docker compose build --pull=false

      - name: Setup and start Helioviewer Docker
        uses: ./.github/actions/helioviewer-docker
        with:
          api-ref: 'origin/main'
          helioviewer-org-ref: 'origin/main'

      - name: Print logs
        if: always()
        run: |
          docker logs helioviewer-api-1
          docker logs helioviewer-web-1
          docker logs helioviewer-database-1
          docker logs helioviewer-movies-1

      - name: Test Helioviewer environment
        run: |
          cd tests
          bash test_make_movie.sh
          bash test_aia_images.sh
          bash test_verify_cors.sh
