name: Build and Push to GHCR

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

jobs:
  build-dev-containers:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: Build Helioviewer containers
        uses: ./.github/actions/helioviewer-build
        with:
          push: true
