name: Build and Push to GHCR

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

jobs:
  build-dev-containers:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: Setup environment
        run: mv .env.example .env

      - name: Build containers
        run: docker compose build

      - name: Check that containers start and become healthy
        run: docker compose up -d --wait

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Push to GHCR
        run: docker compose push
